body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
}

.Navbar {
  align-items: center;
  display: flex;
  justify-content: space-between;
  background-color: #201802;
  position: fixed;
  height: 5%;
  width: 100%;
  top: 0; 
  z-index: 999;

}
.Navbar > img{
  height: 60%;
  width: auto;
  margin: 10px;

}
.Navbar > .right {
  height: 60%;
  display: flex;
  justify-content: center;
  margin: 10px;
  gap:10px;
  cursor: pointer;
}
.Navbar > .right > .Search-Box {
  position: relative;
  height: 100%;
  width: 200px;
}
.Navbar > .right > .Search-Box input{
  width: 100%;
  height: 100%;
  padding: 0 50px;
  font-size: 16px;
  border-radius: 50px;
  outline: none;
  box-sizing: border-box; 
}
.Navbar > .right > .Search-Box img {
  position: absolute;
  width: auto;
  height: 50%;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer; 
}
.Navbar > .right img{
  cursor: pointer;
}
.Navbar > .right > .Search-Box >.left {
  left: 15px;
}
.Navbar > .right > .Search-Box >.right {
  right: 15px;
}


.MainImg {
  position: relative;
  width: 100%;
  height: 500px; 
  background-image: url("Image/IMG_Main.jpg");
  background-position: center;
  background-repeat: no-repeat;
}
.MainImg::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: inherit;
  background-size:cover;
  background-position: center;
  z-index: -1; 
  
}
.MainImg img{
  width: 50px;
  height: 50px;
  padding-left: 10%;
  bottom: 10px;
}
.MainImg > p{
  color: #f5f5f5;
  font-size: 60px;
  letter-spacing: 5px;
  padding-left: 10%;
  padding-top: 140px;
}

.Navbar2 {
  background-color: #201802;
  height: 60px;
  width: 100%;
}

.AutoCarousel02 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;

}

.AutoCarousel02 > .Img {
  position: relative;
  width: 100%;
  height: 100%;
  aspect-ratio: 1;
}

.AutoCarousel02 > .Img img {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  transition: 1s ease-in-out;
}




.Product-List {
  display: grid;
  grid-template-columns: repeat(4, 1fr);  /* 預設顯示 4 列 */
  gap: 1%;
  padding: 1%;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
  box-sizing: border-box;
}
.product {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  text-align: left;
  align-items: center;
  transition: filter 0.3s ease, opacity 0.3s ease, box-shadow 0.3s ease;
  height: auto;
  width: auto;
  gap: 10px;
}
/* 大於等於 1200px，顯示 4 列 */
@media (min-width: 1200px) {
  .Product-List {
    grid-template-columns: repeat(4, 1fr);
  }
}
/* 900px 到 1199px 之間，顯示 3 列 */
@media (min-width: 900px) and (max-width: 1199px) {
  .Product-List {
    grid-template-columns: repeat(3, 1fr);
  }
}
/* 600px 到 899px 之間，顯示 2 列 */
@media (min-width: 600px) and (max-width: 899px) {
  .Product-List {
    grid-template-columns: repeat(2, 1fr);
  }
}
/* 小於 600px，顯示 1 列 */
@media (max-width: 599px) {
  .Product-List {
    grid-template-columns: repeat(1, 1fr);
  }
}
.product:hover {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3 );
  color:rgb(187, 135, 2);
}
.product > img {
  width: 100%;
}
.product > h3 {
  width: 80%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin: 5px; 
}

.product > .Under {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 20px;
  width: 80%;
  margin-bottom: 10px;
}
.product > .Under > p {
  color: #ff0000;
  margin: 0; 
}
.product > .Under > .Icon {
  display: flex;
  margin: 10px;
  gap: 5px;
  height: 100%;
}
.product > .Under > .Icon > img{
  filter: invert(1);
  height: 100%;
}
img.favorite {
  filter: brightness(0) saturate(100%) invert(83%) sepia(63%) saturate(579%) hue-rotate(-45deg) brightness(95%) contrast(90%);
}

.Notification {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  padding: 15px 30px;
  border-radius: 5px;
  font-size: 20px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s, visibility 0.5s;
}

.Notification.Show {
  opacity: 1;
  visibility: visible;
}


