.Navbar_01 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #201802;
  position: fixed;
  height: 60px;
  width: 100%;
  top: 0; 
  z-index: 999;
  padding: 0;
}
.Navbar_01 > .right,.Navbar_01 > .left{
  height: 60%;
  width: auto;
  display: flex;
  justify-content: center;
  margin: 10px;
  gap:10px;
  cursor: pointer;
  border: 0px dashed #ffffff;
}
.Navbar_01 > .right > .Search-Box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  height: 100%;
  width: auto;
  padding: 0 0px;
}
.Navbar_01 > .right > .Search-Box input{
  width: 100%;
  height: 100%;
  padding: 0 40px;
  font-size: 16px;
  border-radius: 50px;
  outline: none;
  box-sizing: border-box; 
}
.Navbar_01 > .right > .Search-Box img {
  position: absolute;
  width: auto;
  height: 50%;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer; 
}
.Navbar_01 > .right img{
  cursor: pointer;
}
.Navbar_01 > .right > .Search-Box >.left {
  left: 15px;
}
.Navbar_01 > .right > .Search-Box >.right {
  right: 15px;
}

.Navbar_02 {
    z-index: 999;
    background-color: #201802;
    position: sticky;
    top: 60px;
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .Navbar_02 > .Block{
    display: flex;
    animation: SlideIn 1s ease-in-out forwards;
    padding: 5%;
  }
  .Navbar_02 > .Block a {
    text-align: center;
    display: inline-block;
    text-decoration: none;
    color: #ffffff;
    position: relative; 
    font-size: 30px; 
    font-weight: bold;
    transition: color 0.5s ease; 
    animation: Pulse  5s ease-in-out infinite;
    white-space: nowrap;
  }
  .Navbar_02 >.Block a:hover {
    color: #FFD700;
  }