.Navbar_01 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #201802;
  position: fixed;
  height: 60px;
  width: 100%;
  top: 0; 
  z-index: 1000;
  padding: 0;
}
.Navbar_01 > .right,.Navbar_01 > .left{
  height: 60%;
  width: auto;
  display: flex;
  justify-content: center;
  margin: 10px;
  gap:10px;
  cursor: pointer;
  border: 0px dashed #ffffff;
}

.Navbar_01 > .left{
  z-index: 1000;
}
.Navbar_01 > .right p{
  color: #ffffff;
}
.Navbar_01 > .right > .Search-Box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  height: 100%;
  width: auto;
  padding: 0 0px;
}
.Navbar_01 > .right > .Search-Box input{
  width: 100%;
  height: 100%;
  padding: 0 40px;
  font-size: 16px;
  border-radius: 50px;
  outline: none;
  box-sizing: border-box; 
}
.Navbar_01 > .right > .Search-Box img {
  position: absolute;
  width: auto;
  height: 50%;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer; 
}
.Navbar_01 > .right img{
  cursor: pointer;
}
.Navbar_01 > .right > .Search-Box >.left {
  left: 15px;
}
.Navbar_01 > .right > .Search-Box >.right {
  right: 15px;
}
.icon:hover {
  animation: Pulse  0.5s ease-in-out infinite;
}
.Navbar_02 {
    z-index: 999;
    background-color: #201802;
    position: sticky;
    top: 60px;
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.Navbar_02 > .Block{
  display: flex;
  animation: SlideIn 1s ease-in-out forwards;
  padding: 0 5%;
}
@media (min-width: 1920px) {
  .Navbar_02 > .Block{
    padding: 0 5%;
  }
}

@media (max-width: 800px) {
  .Navbar_02{
    display: none;
  }
}
.Navbar_02 > .Block a {
  text-align: center;
  display: inline-block;
  text-decoration: none;
  color: #ffffff;
  position: relative; 
  font-size: 30px; 
  font-weight: bold;
  transition: color 0.5s ease; 
  white-space: nowrap;
}
.Navbar_02 >.Block a:hover {
  color: #FFD700;
  animation: Pulse  0.5s ease-in-out infinite;
}


.Dropdown_List {
  position: fixed;
  top: 0;
  left: 0;
  background-color:#6F4E37;
  box-shadow: 5px 0px 8px rgba(0, 0, 0, 0.2);
  width: 200px;
  height: 100%;
  visibility: hidden;
  transition: transform 0.5s ease-in-out, visibility 0.5s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Dropdown_List > .Block:nth-child(odd) {
  background-color: #6F4E37;
}

.Dropdown_List > .Block:nth-child(even) {
  background-color: #201802;
}
.Dropdown_List > .Block{
  height: 60px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.Dropdown_List > .Block a {
  color: #ffffff;
  font-weight: bold;
  font-size: 30px;
  text-decoration: none;
}
.Dropdown_List a:hover {
  color: #FFD700;
  animation: Pulse  0.5s ease-in-out infinite;
}
.left:hover .Dropdown_List {
  visibility: visible;
  transform: translateX(0);
}
.left:not(:hover) .Dropdown_List {
  transform: translateX(-100%);
  visibility: hidden;
}

/* 初始狀態：隱藏購物車下拉選單 */
.Dropdown_Cart {
  display: none;
  position: absolute;
  top: 80%;
  background-color: #ffffff; /* 背景色為白色 */
  padding-top: 10px;
  padding-bottom: 10px;
  width: auto;
}

.cart:hover .Dropdown_Cart {
  display: block;
}

.cart {
  height: 100%;
  display: flex;
  flex-direction: column; 
  justify-content: flex-start; /* 上對齊 */
  align-items: flex-end; /* 右對齊 */
}
.cart img {
  height: 100%;
  box-sizing: border-box;
}


.Dropdown_Cart > .rows {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
}
.Dropdown_Cart > .rows:hover {
  background-color: #ccc;
}
.Dropdown_Cart > .rows > img {
  height: 60px;
}
.Dropdown_Cart > .rows > .topunder >.top{
  border: 0px solid #ff0000;
  display: flex;
  justify-content:center;
  align-items:center;
}
.Dropdown_Cart > .rows > .topunder >.top p{
  color: #000;
}
.Dropdown_Cart > .rows >.topunder > .top > .name{
  width: 200px;
}
.Dropdown_Cart > .rows > .topunder >.top > .name p {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.Dropdown_Cart > .rows > .topunder {
  gap: 10px;
  border: 0px solid #ff0000;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%; 
}
.Dropdown_Cart > .rows > .topunder >.under{
  border: 0px solid #ff0000;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items:center;
}
.Dropdown_Cart > .rows > .topunder >.top input{
  width: 30px;
  height: 20px;
}
.Dropdown_Cart > .rows > .topunder >.under img {
  width: 20px;
  height: 20px;
}
.Dropdown_Cart > .rows > .topunder > .under > .price {
  color: #ff0000;
}
