.Product-List {
  border: 0px dashed #ff0303;
  display: grid;
  grid-template-columns: repeat(4, 1fr);  /* 預設顯示 4 列 */
  gap: 10px;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
}
.product {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  text-align: left;
  align-items: center;
  transition: filter 0.3s ease, opacity 0.3s ease, box-shadow 0.3s ease;
  height: auto;
  width: auto;
  gap: 10px;
  opacity: 0;
  transform: scale(0.8); /* 初始時縮小 */
  visibility: hidden; /* 初始狀態為隱藏 */
  transition: opacity 0.5s ease-out, transform 0.5s ease-out, visibility 0.5s ease-out;

}
.product.visible {
  opacity: 1;
  transform: scale(1); /* 恢復正常大小 */
  visibility: visible; /* 顯示元素 */
  transition: opacity 0.5s ease-in, transform 0.5s ease-in;
}
.product:hover {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3 );
  color:rgb(187, 135, 2);
}
.product > a > img {
  width: 100%;
}
.product > h3 {
  width: 80%;
  height: auto;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin: 0; 
}
.product > .Under {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 20px;
  width: 80%;
  margin-bottom: 10px;
}
.product > .Under > p {
  color: #ff0000;
  margin: 0; 
}
.product > .Under > .Icon {
  display: flex;
  margin: 10px;
  gap: 5px;
  height: 100%;
}
.product > .Under > .Icon > img{
  height: 100%;
}
img.favorite {
  filter: brightness(0) saturate(100%) invert(83%) sepia(63%) saturate(579%) hue-rotate(-45deg) brightness(95%) contrast(90%);
}
@media (min-width: 1900px) {
    .Product-List {
      grid-template-columns: repeat(4, 1fr);
    }
    .Content{
      width: 50%;
    }
  }
  @media (min-width: 1000px) and (max-width: 1899px) {
    .Product-List {
      grid-template-columns: repeat(3, 1fr);
    }
    .Content{
      width: 70%;
    }
  }
  @media (min-width: 700px) and (max-width: 999px) {
    .Product-List {
      grid-template-columns: repeat(2, 1fr);
    }
    .Content{
      width: 80%;
    }
    .Block p{
      font-size: 2px;
    }
  } 
  @media (max-width: 699px) {
    .Product-List {
      grid-template-columns: repeat(1, 1fr);
    }
    .Content{
      width: 90%;
    }

}